.App {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.App > .nav-bar {
    width: 100%;
    display: flex;
    justify-content: center;
}

.App > .nav-bar > nav > ul {
    display: flex;
    justify-content: center;
}

.App > .nav-bar > nav > ul > li {
    list-style: none;
    padding: 10px;
}

.toDoListDiv {
    font-size: calc(10px + 2vmin);
    width: 80%;
    min-width: 30%;
}

h1 {
    text-align: center;
}

.todoButton {
    align-items: center;
    margin: 10px;
}

.toDoItem {
    height: 10%;
    border: lightsteelblue solid 1px;
    display: flex;
    justify-content: space-between;
    min-width: 30%;
    align-items: center;
}

#deleteButton::before {
    content: "\2716";
}

.font-with-line {
    text-decoration: line-through
}

.addToDoItem {
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

p {
    margin: 20px;
    cursor: pointer;
    word-break: break-all
}

.editAndDeleteButtonDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
}




